# Terraform files
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Python virtual environments
venv/
.env/
__pycache__/
*.pyc

# Dependency files
*.zip
*.tar.gz
requirements.txt.lock

# AWS credentials & sensitive files
.aws/
*.pem
*.key

# Logs & system files
*.log
.DS_Store

# VSCode & JetBrains settings
.vscode/
.idea/
